:root {
    --main-color: #4472C2;
    --white-hover: #E0E3EE;
    --hover-maincolor: #375D9F;
  }
  
  body {
      font-size:1em;
  }
  
  div{
    text-align: center;
  }
  
  button {
    font-size:1em;
    cursor:pointer;
  }
  
  
  
  #top {
    margin-top:15px;
    text-align: center;
  }
  
  #left {
    width:50%;
    float:left;
  }
  
  #right {
    width:50%;
    float:right;
  }
  
  #changeOrder_img  {
    margin-left:250px;
    width:50px;
  }
  
  #save_btn {
    height: 50px;
    width:80px;
    margin-right:50px;
    background-color: var(--main-color);
    color:white;
    border:none;
    float:right;
  }
  
  #loading_btn {
    height: 50px;
    width:80px;
    margin-right:50px;
    background-color: var(--main-color);
    color:white;
    border:none;
    float:right;
  }
  
  #save_btn:hover{
    background-color: var(--hover-maincolor);
  }
  
  #loading_btn:hover{
      background-color: var(--hover-maincolor);
  }
  
  #cellTitle{
    height: 40px;
    width:70%;
    margin-left: 15%;
    padding-top:20px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color:white;
    text-align: center;
  }
  
  #cellContents{
    height: 80%;
    width:70%;
    margin-left: 15%;
    border-left: 1px solid  var(--main-color);
    border-right: 1px solid  var(--main-color);
    border-bottom: 1px solid  var(--main-color);
  }
  
  #subject_div {
    height: 35px;
    width:99.5%;
    padding-top:15px;
    border:1px solid var(--main-color);
  }
  
  #subject_btn_div{
  
      height: 50px;
      width:99.5%;
      border:1px solid var(--main-color);
  }
  
  #selectPreceded_btn {
    height: 50px;
    width:100%;
    padding:0px;
    background-color: white;
    border:none;
  
  }
  
  #selectPreceded_btn:hover {
    background-color: var(--white-hover);
  }