:root {
  --bg-color: #eeeeee;
  --font-size: 9px;
}

div{
  text-align: center;
}
#top {
  margin-top:15px;
  text-align: center;
}

#left {
  width:50%;
  float:left;
}

#right {
  width:50%;
  float:right;
}

#changeOrder_img  {
  width:50px;
}

#cellTitle{
  height: 50px;
  width:70%;
  margin-left: 15%;
  border: 1px solid;
}

#cellContents{
  height: 80%;
  width:70%;
  margin-left: 15%;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
